In [20]:
import pandas as pd

In [21]:
df1=pd.read_csv('Product_Details.csv')

In [22]:
df1

                                            Product_URL
0     https://www.com1.com.au/msi-wm-brcket-1622-201...
1     https://www.com1.com.au/msi-pro-16-flex-8gl-05...
2     https://www.com1.com.au/msi-pro16t-10m-009xau-...
3     https://www.com1.com.au/msi-pro16t-10m-010xau-...
4     https://www.com1.com.au/msi-pro-16-flex-8gl-04...
...                                                 ...
1036  https://www.com1.com.au/logitech-bcc950-confer...
1037  https://www.com1.com.au/infinity-3-year-warran...
1038  https://www.com1.com.au/infinity-3-year-warran...
1039  https://www.com1.com.au/infinity-3-year-warran...
1040  https://www.com1.com.au/infinity-3-year-warran...

[1041 rows x 1 columns]

In [25]:
df1=pd.concat([df1,pd.DataFrame(columns=['Title','Price','Description','Quantity','Manu_Part_num','Brand'])])

In [28]:
df1=df1.astype(str)

In [29]:
df1

,Product_URL,Title,Price,Description,Quantity,Manu_Part_num,Brand
0,https://www.com1.com.au/msi-wm-brcket-1622-201...,nan,nan,nan,nan,nan,nan
1,https://www.com1.com.au/msi-pro-16-flex-8gl-05...,nan,nan,nan,nan,nan,nan
2,https://www.com1.com.au/msi-pro16t-10m-009xau-...,nan,nan,nan,nan,nan,nan
3,https://www.com1.com.au/msi-pro16t-10m-010xau-...,nan,nan,nan,nan,nan,nan
4,https://www.com1.com.au/msi-pro-16-flex-8gl-04...,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...
1036,https://www.com1.com.au/logitech-bcc950-confer...,nan,nan,nan,nan,nan,nan
1037,https://www.com1.com.au/infinity-3-year-warran...,nan,nan,nan,nan,nan,nan
1038,https://www.com1.com.au/infinity-3-year-warran...,nan,nan,nan,nan,nan,nan
1039,https://www.com1.com.au/infinity-3-year-warran...,nan,nan,nan,nan,nan,nan
1040,https://www.com1.com.au/infinity-3-year-warran...,nan,nan,nan,nan,nan,nan