In [70]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from List_Products_page import Find_Lst_Products
from List_Products_page_2 import Find_Lst_Products2
from Scrap_details import Prod_Details
import pandas as pd

In [71]:
column_names = ["ID","Product_Name", "Total_votes", "Website_Link","Total_Reviews","Review_Score","Hunters","Founders","Industry_Type"]
df = pd.DataFrame(columns = column_names)

In [72]:
df.to_csv('my_csv.csv', mode='a', header=True,index=False)

In [73]:
df.loc[0,"ID"]='1'
df.loc[0,"Product_Name"]='My Name'
df.loc[0,"Total_votes"]='235'
df.loc[0,"Website_Link"]='http1'
df.loc[0,"Total_Reviews"]='34'
df.loc[0,"Review_Score"]='3.5'
df.at[0,'Hunters']=['1','2','3']
df.loc[0,"Founders"]=['a','b','c']
df.loc[0,"Industry_Type"]=['aa','bb','cc']

In [74]:
df

,ID,Product_Name,Total_votes,Website_Link,Total_Reviews,Review_Score,Hunters,Founders,Industry_Type
0,1,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"

In [75]:
df.to_csv('my_csv.csv',index=False)

In [76]:
df.loc[1,"ID"]='2'
df.loc[1,"Product_Name"]='My Name'
df.loc[1,"Total_votes"]='235'
df.loc[1,"Website_Link"]='http1'
df.loc[1,"Total_Reviews"]='34'
df.loc[1,"Review_Score"]='3.5'
df.at[1,'Hunters']=['1','2','3']
df.loc[1,"Founders"]=['a','b','c']
df.loc[1,"Industry_Type"]=['aa','bb','cc']

In [77]:
df

,ID,Product_Name,Total_votes,Website_Link,Total_Reviews,Review_Score,Hunters,Founders,Industry_Type
0,1,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"
1,2,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"

In [78]:
df.to_csv('my_csv.csv',index=False)

In [79]:
df.loc[2,"ID"]='3'
df.loc[2,"Product_Name"]='My Name'
df.loc[2,"Total_votes"]='235'
df.loc[2,"Website_Link"]='http1'
df.loc[2,"Total_Reviews"]='34'
df.loc[2,"Review_Score"]='3.5'
df.at[2,'Hunters']=['1','2','3']
df.loc[2,"Founders"]=['a','b','c']
df.loc[2,"Industry_Type"]=['aa','bb','cc']

In [80]:
df

,ID,Product_Name,Total_votes,Website_Link,Total_Reviews,Review_Score,Hunters,Founders,Industry_Type
0,1,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"
1,2,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"
2,3,My Name,235,http1,34,3.5,"[1, 2, 3]","[a, b, c]","[aa, bb, cc]"

In [81]:
df.to_csv('my_csv.csv',index=False)